:root {
    --dark-transparent:     #8881;

	--night:                #161412;
	--eerie-black:          #211E1C;
	--battleship-gray:      #8A817C;
	--silver:               #BCB8B1;
	--isabelline:           #F4F3EE;
	--atomic-tangerine:     #EB977D;
	--platinum:             #ECEBE9;
	--asparagus:            #63A46C;

	--black-as-hell:        #0B0A09;
	--literally-black:      #000;
	--literally-white:      #fff;

	--nav-bar-height:       20px;
}
 

html, body {
    height: 100%;
    margin: 0;
    background: var(--night);
    color: var(--silver);
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

h1 {
    font-family "Roboto Mono", monospace;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(300px, 90vw, 600px);
    padding: 1rem clamp(2rem, 5vw, 4rem) 1rem;
    box-sizing: border-box;
    margin: auto;
    background-color: var(--eerie-black);
    border-radius: 3rem;
}

@media screen and (min-width: 800px) {
    form {
        margin: 0;
    }
}
form p {
    font-size: 1.5em;
}

form h1 {
    font-size: 3em;
}

input {
    color: var(--literally-white);
    background-color: #ddd3;
    border: none;
}

button:hover {
    cursor: pointer;
}

form input, form button, a.small {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: clamp(.5rem, 3vw, 1rem);
    margin: clamp(.5rem, 3vw, 1rem);
    border-radius: 1rem;
    box-sizing: border-box;
}

form input, form button, a.small, .forgot-wrapper {
    width: 70%;
    min-width: 200px;
}

form button, a.small {
    background: var(--atomic-tangerine);
    line-height: 4rem;
    white-space: nowrap;
    padding: clamp(.5rem, 3vw, 1rem 2rem);
    margin: 2rem auto 1rem;
    border: none;
}

a.forgot {
    display: block;
    text-align: right;
    width: 70%;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

a.small {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: var(--literally-black);
    line-height: 2rem;
    padding: clamp(.25rem, 2vw, .5rem) 1rem;
    margin: 3rem 0 0;
    width: auto;
}

.forgot-wrapper button {
    display: block;
    margin: 1rem auto 0;
}

.hidden {
    display: none;
}
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css";
.error_message {
    color: red;
    margin: 0.5rem 0;
}
